#
# {{ ansible_managed }}
#

global:
  scrape_interval: 15s
  evaluation_interval: 15s
  # scrape_timeout is set to the global default (10s).

  external_labels:
    monitor: "master"

# A list of scrape configurations.
scrape_configs:
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets:
      {% for host in groups['cluster:children'] %}
      {% if inventory_hostname != host %}
        - '{{ host }}:9100'
      {% endif %}
      {% endfor %}

  - job_name: 'tower'
    metrics_path: /api/v2/metrics
    scrape_interval: 5s
    scheme: http
    bearer_token: U8cahTFXJASsaaVvK0mBBjHjR1pNyS
    static_configs:
    - targets: ["192.168.1.8"]  
        
rule_files:
  - "{{ prometheus_rule_path }}/*"

alerting:
  alertmanagers:
  - static_configs:
    - targets:
    {% for host in groups['master'] %}
    {% if inventory_hostname != host %}
      - '{{ host }}:9093'
    {% endif %}
    {% endfor %}